@if ctx.is_logged_in() && user.admin
<div>
	<h2>admin powers:</h2>
	<form action="/api/user/set_muted" method="post">
		<input
			type="text"
			name="id"
			id="id"
			value="@user.id"
			required
			readonly
			hidden
			aria-hidden
		>
		@if !user.muted
		<input
			type="checkbox"
			name="muted"
			id="muted"
			value="true"
			checked
			readonly
			hidden
			aria-hidden
		>
		<input type="submit" value="mute">
		@else
		<input
			type="checkbox"
			name="muted"
			id="muted"
			value="false"
			checked
			readonly
			hidden
			aria-hidden
		>
		<input type="submit" value="unmute">
		@end
	</form>
</div>
@end
