<div>
	<form action="/api/post/new_post" method="post">
		<h2>new post:</h2>
		<input
			type="text"
			name="title"
			id="title"
			minlength="@app.config.post.title_min_len"
			maxlength="@app.config.post.title_max_len"
			pattern="@app.config.post.title_pattern"
			placeholder="title"
			required
		>
		<br>
		<textarea
			name="body"
			id="body"
			minlength="@app.config.post.body_min_len"
			maxlength="@app.config.post.body_max_len"
			rows="10"
			cols="30"
			placeholder="body"
			required
		></textarea>
		<br>
		<input type="submit" value="post!">
	</form>
</div>
