# binaries
main
clockwork
beep
*.exe
*.exe~
*.so
*.dylib
*.dll
bin/

# editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# secrets
/config.real.maple
.env

# local v and clockwork install (from gitpod stuffs)
/v/
/clockwork/

# quick notes i keep while developing
/stickynote.md
