# Binaries
/beep
/build/

# Editor/system specific metadata
.DS_Store
.vscode/

# Secrets
/config.real.maple
.env

# Local V and Clockwork install (Gitpod)
/clockwork
/v/
/clockwork/

# Quick notes I keep while developing
/stickynote.md
