@include 'partial/header.html'

@if !app.config.dev_mode && !ctx.is_logged_in()
<p>error: not logged in</p>
@else if !app.config.dev_mode && !user.admin
<p>error: you are not an admin!</p>
@else

<h1>admin dashboard</h1>
<p>logged in as:</p>
<pre>@user</pre>
<div>
	<h2>user list:</h2>
	<ul>
		@for u in app.get_users()
		<li>
			<a href="/user/@u.username">@u.get_name()</a>
			(@@@u.username) [@u.id]
			{muted=@u.muted, admin=@u.admin, created_at=@u.created_at}
		</li>
		@end
	</ul>
</div>

@end

@include 'partial/footer.html'