@include 'partial/header.html'

<script src="/static/js/post.js" defer></script>
<script src="/static/js/render_body.js" defer></script>
<script src="/static/js/text_area_counter.js"></script>

<h1>edit post</h1>

<div class="post post-full">
	<form action="/api/post/edit" method="post">
		<input
			type="number"
			name="id"
			id="id"
			placeholder="post id"
			value="@post.id"
			required
			readonly
			hidden
			aria-hidden
		>

		<p id="title_chars">0/@{app.config.post.title_max_len}</p>
		<input
			type="text"
			name="title"
			id="title"
			minlength="@app.config.post.title_min_len"
			maxlength="@app.config.post.title_max_len"
			pattern="@app.config.post.title_pattern"
			placeholder="title"
			value="@post.title"
			required
		>
		<br>

		<p id="body_chars">0/@{app.config.post.body_max_len}</p>
		<textarea
			name="body"
			id="body"
			minlength="@app.config.post.body_min_len"
			maxlength="@app.config.post.body_max_len"
			rows="10"
			cols="30"
			placeholder="body"
			required
		>@post.body</textarea>
		<br>

		<input type="submit" value="save">
	</form>

	<script>
		add_character_counter('title', 'title_chars', @{app.config.post.title_max_len})
		add_character_counter('body', 'body_chars', @{app.config.post.body_max_len})
	</script>
</div>

<hr>

<div>
	<h2>danger zone:</h2>
	<form action="/api/post/delete" method="post">
		<input
			type="number"
			name="id"
			id="id"
			placeholder="post id"
			value="@post.id"
			required aria-required
			readonly aria-readonly
			hidden aria-hidden
		>
		<input type="submit" value="delete">
	</form>
</div>

@include 'partial/footer.html'
