@include 'partial/header.html'

<h1>@app.config.instance.welcome</h1>

@if motd != ''
<p><em>@motd</em></p>
@end

<div>
	@if pinned_posts.len > 0
	<h2>pinned posts:</h2>
	<div>
		@for post in pinned_posts
		@include 'components/post_small.html'
		@end
	</div>
	@end

	<h2>recent posts:</h2>
	<div>
		@if recent_posts.len > 0
		@for post in recent_posts
		@include 'components/post_small.html'
		@end
		@else
		<p>none, you could be the first!</p>
		@end
	</div>
</div>

@include 'partial/footer.html'
