@include 'partial/header.html'

@if ctx.is_logged_in()

<h1>welcome, @{user.get_name()} (@@@user.username)</h1>
<div>
	<form action="/api/post/new_post" method="post">
		<h2>new post:</h2>
		<input
			type="text"
			name="title"
			id="title"
			minlength="1"
			maxlength="@app.config.post.title_max_len"
			placeholder="title"
			required
		>
		<br>
		<textarea
			name="body"
			id="body"
			minlength="1"
			maxlength="@app.config.post.body_max_len"
			rows="10"
			cols="30"
			placeholder="body"
			required
		></textarea>
		<br>
		<input type="submit" value="post!">
	</form>
</div>
<div>
	<h2>posts:</h2>
	@for post in app.get_posts_from_user(user.id)
	@include 'components/post_small.html'
	@end
</div>
<div>
	<h2>user info:</h2>
	<p>id: @user.id</p>
	<p>username: @user.username</p>
	<p>display name: @user.get_name()</p>
	<p><a href="/api/user/logout">log out</a></p>
	<p><a href="/api/user/full_logout">log out of all devices</a></p>
</div>
<div>
	<h2>settings:</h2>
	<form action="/api/user/set_nickname" method="post">
		<label for="nickname">nickname:</label>
		<input
			type="text"
			name="nickname"
			id="nickname"
			pattern="@app.config.user.nickname_pattern"
			minlength="@app.config.user.nickname_min_len"
			maxlength="@app.config.user.nickname_max_len"
			value="@{user.nickname or { '' }}"
			required
		>
		<input type="submit" value="update">
	</form>
	<form action="/api/user/set_nickname" method="post">
		<input type="submit" value="reset nickname">
	</form>
</div>

@else
<p>uh oh, you are not logged in! you can log in <a href="/login">here</a></p>
@end

@include 'partial/footer.html'