@include 'partial/header.html'

<h1>register</h1>

<div>
	@if ctx.form_error != ''
	<p>error: @ctx.form_error</p>
	@end

	@if ctx.is_logged_in()
	<p>you are already logged in as @{user.get_name()}!</p>
	<a href="/api/user/logout">log out</a>
	@else
	<form action="/api/user/register" method="post">
		<label for="username">username:</label>
		<input
			type="text"
			name="username"
			id="username"
			pattern="@app.config.user.username_pattern"
			minlength="@app.config.user.username_min_len"
			maxlength="@app.config.user.username_max_len"
			required
		>
		<br>
		<label for="password">password: <a href="#" id="view-password" style="display: inline;">view</a></label>
		<input
			type="password"
			name="password"
			id="password"
			pattern="@app.config.user.password_pattern"
			minlength="@app.config.user.password_min_len"
			maxlength="@app.config.user.password_max_len"
			required
		>
		<br>
		<label for="confirm-password">confirm password: <a href="#" id="view-confirm-password" style="display: inline;">view</a></label>
		<input
			type="password"
			name="confirm-password"
			id="confirm-password"
			pattern="@app.config.user.password_pattern"
			minlength="@app.config.user.password_min_len"
			maxlength="@app.config.user.password_max_len"
			required
		>
		<br>
		<p>passwords match: <span id="passwords-match">yes</span></p>
		<br>
		@if app.config.instance.invite_only
		<label for="invite-code">invite code:</label>
		<input type="text" name="invite-code" id="invite-code" required>
		<br>
		@end
		@if app.config.hcaptcha.enabled
		<div class="h-captcha" data-sitekey="@{app.config.hcaptcha.site_key}"></div>
		<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
		<br>
		@end
		<input type="submit" value="register">
	</form>
	@end
</div>

<script>
	const password = document.getElementById('password');
	const confirm_password = document.getElementById('confirm-password');
	const matches = document.getElementById('passwords-match');

	const a = () => {
		matches.innerText = password.value==confirm_password.value ? "yes" : "no";
	};
	password.addEventListener('input', a);
	confirm_password.addEventListener('input', a);

	const view_password = document.getElementById('view-password');
	const view_confirm_password = document.getElementById('view-confirm-password');

	const b = (elm, btn) => {
		return event => {
			if (elm.getAttribute('type') == 'password')
			{
				elm.setAttribute('type', 'text');
				btn.innerText = 'hide';
			}
			else
			{
				elm.setAttribute('type', 'password')
				btn.innerText = 'show';
			}
		};
	};
	view_password.addEventListener('click', b(password, view_password));
	view_confirm_password.addEventListener('click', b(confirm_password, view_confirm_password));
</script>

@include 'partial/footer.html'
