@include 'partial/header.html'

<h1>register</h1>

<div>
	@if ctx.form_error != ''
	<p>error: @ctx.form_error</p>
	@end

	@if ctx.is_logged_in()
	<p>you are already logged in as @{user.get_name()}!</p>
	<a href="/api/user/logout">log out</a>
	@else
	<form action="/api/user/register" method="post">
		<label for="username">username:</label>
		<input
			type="text"
			name="username"
			id="username"
			pattern="@app.config.user.username_pattern"
			minlength="@app.config.user.username_min_len"
			maxlength="@app.config.user.username_max_len"
			required
		>
		<br>
		<label for="password">password:</label>
		<input
			type="password"
			name="password"
			id="password"
			pattern="@app.config.user.password_pattern"
			minlength="@app.config.user.password_min_len"
			maxlength="@app.config.user.password_max_len"
			required
		>
		<br>
		@if app.config.hcaptcha.enabled
		<div class="h-captcha" data-sitekey="@{app.config.hcaptcha.site_key}"></div>
		<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
		<br>
		@end
		<input type="submit" value="register">
	</form>
	@end
</div>

@include 'partial/footer.html'
