@include 'partial/header.html'

@if ctx.is_logged_in()

<script src="/static/js/post.js"></script>

<p><a href="/me">back</a></p>

<h1>saved posts for later:</h1>

<div>
	@if posts.len > 0
	@for post in posts
	<!-- components/post_mini.html -->
	<div class="post post-mini">
		<p>
			<a href="/user/@{(app.get_user_by_id(post.author_id) or { app.get_unknown_user() }).username}"><strong>@{(app.get_user_by_id(post.author_id) or { app.get_unknown_user() }).get_name()}</strong></a>:
			<a href="/post/@post.id">@post.title</a>
			<button onclick="save_for_later(@post.id)" style="display: inline-block;">unsave</button>
		</p>
	</div>
	@end
	@else
	<p>none!</p>
	@end
</div>

@else
<p>uh oh, you need to be logged in to see this page</p>
@end

@include 'partial/footer.html'
