@include 'partial/header.html'

<script src="/static/js/user_utils.js"></script>
<script src="/static/js/search.js"></script>

<h1>search</h1>

<div>
	<input type="text" name="query" id="query">
	<button id="search">search</button>
</div>

<br>

<div id="pages">
</div>

<div id="results">
</div>

<script>
	const params = new URLSearchParams(window.location.search)

	const pages = document.getElementById('pages')
	const results = document.getElementById('results')

	const query = document.getElementById('query')
	if (query.value == '' && params.get('q')) {
		query.value = params.get('q')
	}

	let offset = params.get('offset')
	if (!offset) {
		offset = 0
	}

	document.getElementById('search').addEventListener('click', async () => {
		results.innerHTML = '' // yeet the children!
		pages.innerHTML = '' // yeet more children!

		const search_results = await search(query.value, 10, Number(offset.value))
		if (search_results.length >= 0) {
			for (result of search_results) {
				// same as components/post_mini.html except js
				const element = document.createElement('div')
				element.classList.add('post', 'post-mini')
				const p = document.createElement('p')

				const user_link = document.createElement('a')
				user_link.href = '/user/' + result.author.username
				const user_text = document.createElement('strong')
				user_text.innerText = get_display_name(result.author)
				user_link.appendChild(user_text)
				p.appendChild(user_link)

				p.innerHTML += ': '

				const post_link = document.createElement('a')
				post_link.href = '/post/' + result.post.id
				post_link.innerText = result.post.title
				p.appendChild(post_link)

				element.appendChild(p)
				results.appendChild(element)
			}

			// set up pagination
			if (offset > 0) {
				const back_link = document.createElement('a')
				// we escape the $ here because otherwise V will try to perform replacements at compile-time.
				//todo: report this, this behaviour should be changed or at least looked into further.
				back_link.href = '/search?q=' + query.value + '&limit=10&offset=' + Math.min(0, offset.value - 10)
				back_link.innerText = '<-'
				pages.appendChild(back_link)

				const next_link = document.createElement('a')
				next_link.href = '/search?q=' + query.value + '&limit=10&offset=' + (offset.value + 10)
				next_link.innerText = '->'
				pages.appendChild(next_link)
			}
		} else {
			results.innerText = 'no results!'
		}
	})
</script>

@include 'partial/footer.html'
