@include 'partial/header.html'

<h1>
	@{viewing.get_name()}
	(@@@viewing.username)

	@if viewing.pronouns != ''
	(@viewing.pronouns)
	@end

	@if viewing.muted && viewing.admin
	[muted admin, somehow]
	@else if viewing.muted
	[muted]
	@else if viewing.admin
	[admin]
	@end
</h1>

@if app.logged_in_as(mut ctx, viewing.id)
<script src="/static/js/text_area_counter.js"></script>

<p>this is you!</p>

<div>
	<form action="/api/post/new_post" method="post">
		<h2>new post:</h2>

		<p id="title_chars">0/@{app.config.post.title_max_len}</p>
		<input
			type="text"
			name="title"
			id="title"
			minlength="@app.config.post.title_min_len"
			maxlength="@app.config.post.title_max_len"
			pattern="@app.config.post.title_pattern"
			placeholder="title"
			required aria-required
			autocomplete="off" aria-autocomplete="off"
		>
		<br>

		<p id="body_chars">0/@{app.config.post.body_max_len}</p>
		<textarea
			name="body"
			id="body"
			minlength="@app.config.post.body_min_len"
			maxlength="@app.config.post.body_max_len"
			rows="10"
			cols="30"
			placeholder="body"
			required aria-required
			autocomplete="off" aria-autocomplete="off"
		></textarea>
		<br>

		<input type="submit" value="post!">
	</form>

	<script>
		add_character_counter('title', 'title_chars', @{app.config.post.title_max_len})
		add_character_counter('body', 'body_chars', @{app.config.post.body_max_len})
	</script>
</div>
<hr>
@end

@if viewing.bio != ''
<div>
	<h2>bio:</h2>
	<pre id="bio">@viewing.bio</pre>
</div>
<hr>
@end

@if app.logged_in_as(mut ctx, viewing.id)
<div>
	<p><a href="/me/saved">saved posts</a></p>
	<p><a href="/me/saved_for_later">saved for later</a></p>
</div>
<hr>
@end

<div>
	<h2>recent posts:</h2>
	@if posts.len > 0
	@for post in posts
	@include 'components/post_small.html'
	@end
	@else
	<p>no posts!</p>
	@end
</div>

@if ctx.is_logged_in() && user.admin
<hr>

<div>
	<h2>admin powers:</h2>
	<form action="/api/user/set_muted" method="post">
		<input
			type="number"
			name="id"
			id="id"
			value="@user.id"
			required aria-required
			readonly aria-readonly
			hidden aria-hidden
		>
		@if !user.muted
		<input
			type="checkbox"
			name="muted"
			id="muted"
			value="true"
			checked aria-checked
			readonly aria-readonly
			hidden aria-hidden
		>
		<input type="submit" value="mute">
		@else
		<input
			type="checkbox"
			name="muted"
			id="muted"
			value="false"
			checked aria-checked
			readonly aria-readonly
			hidden aria-hidden
		>
		<input type="submit" value="unmute">
		@end
	</form>
</div>
@end

@if viewing.bio != ''
<script src="/static/js/render_body.js"></script>
<script>
	render_body('bio')
</script>
@end

@include 'partial/footer.html'
