.post,
.notification {
	border: 2px solid;
	padding: 8px;
}

.post p,
.notification p {
	margin: 0;
}

.post + .post,
.notification + .notification {
	margin-top: 6px;
}

pre {
	white-space: pre-wrap;
}

/*
 * some themes make input fields display: block, which overrides my hidden
 * attribute. to resolve that, i will just override the override.
 */
input[hidden] {
	display: none !important;
}
